Patch subjects with commas are corrupted

Patchwork is inserting a space after a comma in the subject.

    "dt-bindings: sound: wm8994: document wlf, csnaddr-pd property"

while the version I've received via the maillist is correct:

    "dt-bindings: sound: wm8994: document wlf,csnaddr-pd property"

This example can be found here: http://patchwork.ozlabs.org/patch/941526/

Looking at the headers, it seems all the headers get line wrapped after a comma which causes the problem.


Another annoying hit
https://patchwork.freedesktop.org/patch/246039/

I'm marking this as an enhancement rather than a bug. Ideally we should store the raw, unmodified subject. That's not something we'll be able to address until 2.2 at the earliest though.

@robherring Would it be possible to get a copy of the mbox from the mailing list? I haven't been able to reproduce this.

Here's the same message I originally referenced.

[msg.txt](https://github.com/getpatchwork/patchwork/files/2545926/msg.txt)


This fix doesn't look correct to me. The core of that change is:

``` value = ''.join(re.split(r'\n\s+', value)) ```

(ie, where we find a newline followed by a space, remove the newline and the space)

However, from RFC2822, section 2.2.3:

> Unfolding is accomplished by simply removing any CRLF
>   that is immediately followed by WSP.

With the fix as it is, the example quoted in the RFC:

```
Subject: This
 is a test
```

Will be transformed in to:

```
Subject: Thisis a test
```

Which is what has happened here:

https://patchwork.ozlabs.org/patch/1097852/

Going to re-open this since the commit was reverted?

The corruption seems to have been caused by a preprocessing layer unique to
OzLabs, which I am told has since been fixed by upgrading it to Python3.
Are you seeing this corruption in any new messages?

On Tue, May 21, 2019 at 12:07 AM Rob Herring <notifications@github.com>
wrote:

> Going to re-open this since the commit was reverted?
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/getpatchwork/patchwork/issues/197?email_source=notifications&email_token=AAZHSBKNOLEPIC3NATET6FLPWKWA5A5CNFSM4FKF4DBKYY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGODVY6C2I#issuecomment-494002537>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AAZHSBI472CRI3GAQCZITSTPWKWA5ANCNFSM4FKF4DBA>
> .
>


@daxtens I realized this just after commenting, so I deleted my comment. I don't think @jk-ozlabs has picked up this revert and reworked the filtering.